* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.font-wt-sm {
  font-weight: 300;
}

.font-wt-med {
  font-weight: 400;
}

.font-wt-lg {
  font-weight: 500;
}

.font-xs {
  font-size: 14px;
}

.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 18px;
}

.font-lg {
  font-size: 24px;
}

.font-xl {
  font-size: 32px;
}