@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$primary: #0085FF;
$dark: #323338;
$primary-highlight: #DFF0FF;
$private: #F65F7C;
$shareable: #A358DF;

$asphalt: #676879;
$wolfgrey: #C5C7D0;
$ulgrey: #E6E9EF;
$riverstone-grey: #F5F6F8;
$light: #FFFFFF;

$green: #00C875;
$aquamarine: #4ECCC6;
$berry: #7E3B8A;
$blackish: #333333;
$brown: #7F5347;
$bubble: #FAA1F1;
$chill-blue: #66CCFF;
$dark-indigo: #401694;
$dark-purple: #784BD1;
$egg-yolk: #FFCB00;
$indigo-purple: #5559DF;
$light-blue: #579BFC;
$navy: #225091;
$orange: #FDAB3D;
$peach: #FFADAD;
$river-blue: #68A1BD;
$sky-blue: #225091;
$sunset-red: #FF7575;
$winter-grey: #9AADBD;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;

  align-items: center;
  justify-content: center;

  color: $dark;
}


.split {

  h1,
  #all {
    display: none;
  }

  flex-direction: row;
}

.fullScreen {
  flex-direction: column;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  height: 40px;
  min-width: 150px;
  margin: 5px;
  padding: 0 15px;

  border: none;
  background-color: $primary;
  color: $light;
  border-radius: 500px;
}

button:hover {
  background-color: darken($primary, 30%);
}